*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(2, 2, 2, 0.95),transparent),url(photos/background1.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    padding-bottom: 75px
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    font-size: 20px;
}

.logo{
    width:120px;
    cursor: pointer;
}


nav ul {
    flex:1;
    text-align: right;
    padding-right: 30px
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
     color: #fff;
     text-decoration: none;
     position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform:translateX(-50%);
    background: #fff;
    transition: width 0.5s;
}

nav ul li a:hover::after{
    width: 50%
}

.text-box{
    color:#fff;
    position: absolute;
    bottom: 8%;
}

.text-box p{
    font-size: 50px;
    font-weight: 600;
}

.text-box h1{
    font-size: 200px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    background: url(photos/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}


.text-box h3{
    font-size: 50px;
    font-weight: 600;
}


.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.text-box a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
}

.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}

.social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}

.social-icons img{
    width: 60px;
    display: block;
    margin: 25px 5px
}

.skill-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}

.skill-icons img{
    width: 60px;
    display: block;
    margin: 25px 5px
}


/* about.html */

.about-me-title{
    margin-top: 100px;
    width: 100%;
    color: #fff;
    border-radius: 25px;
    border-style: solid;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 8px;
}

.about-me-text{
    margin-top: 100px;
    width: 100%;
    color: #fff;
    border-radius: 25px;
    border-style: solid;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 8px;
}

.about-me-text2{
    margin-top: 100px;
    width: 100%;
    color: #fff;
    border-radius: 25px;
    border-style: solid;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 8px;
}

/* skills.html */

.skills-title{
    margin-top: 100px;
    width: 100%;
    color: #fff;
    border-radius: 25px;
    border-style: solid;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 8px;
}

.skills-box{
    margin-top: 50px;
    width: 100%;
    color: #fff;
    border-radius: 25px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 8px;
}

.skills-box img{
    width: 60px;
    margin: 25px 5px;
}

.skills-icon {
    width: 25%;
}

.skill-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}

.skill-icons img{
    width: 60px;
    display: block;
    margin: 25px 5px
}

/* projects.html */
.projects-title{
    margin-top: 100px;
    width: 100%;
    color: #fff;
    border-radius: 25px;
    border-style: solid;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 8px;
}

.projects-box{
    margin-top: 50px;
    width: 100%;
    color: #fff;
    border-radius: 25px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 8px;
}

.project-list {
    width: 25%;
    color: #fff
}


/* MOBILE CHANGES */

@media screen and (max-width: 480px) {
    .text-box h1{
        font-size: 45px
    }   
    .text-box h3{
        font-size: 25px
    }
    .text-box span{
        font-size: 12px
    }     
    .social-icons img{
        width: 40px
    }
    .text-box a{
        width:200px;
        margin-top: 5px;
    }
    .text-box span{
        margin-top: 5px;
    }
    .logo{
        width: 70px;
    }
    .about-me-title{
        margin-top: 50px
    }
    .about-me-title h3{
        font-size: 30px;
    }
    .about-me-text{
        margin-top: 25px
    }
    .about-me-text p{
        font-size: 20px
    }
    .about-me-text2{
        margin-top: 25px
    }
    .about-me-text2 p{
        font-size: 20px
    }
    .social-icons{
        margin-bottom: 1270px
        
    }
}
